.custom-modal {
    background: none;
}



.custom-modal .modal-content {
    background: none;
    border: none;
}

.custom-modal-size{
  max-width: none !important;
}



/* CustomModal.css */
.custom-modal-size .modal-dialog {
    max-width: 90%; /* Adjust the width as per your requirement */
  }
  
  .custom-modal-size .modal-content {
    width: 100%;
    max-height: 90vh; /* Adjust the height as per your requirement */
    max-width: none!important;

  }
  
  .custom-modal-size .modal-body {
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  
  .custom-modal-size .modal-header,
  .custom-modal-size .modal-footer {
    padding: 20px; /* Adjust the padding as needed */
  }
  

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.custom-button {
  font-size: 18px; /* Adjust the font size as needed */
  margin: 1rem 0;
}
/* Target the React Bootstrap button with a specific class for higher specificity */
.custom-quick-guide-button.btn-secondary {
  /* Change the default colors */
  background-color: #F47216; /* A shade of green */
  border-color: #F47216;
  color: white;
}

/* Override the hover state as well */
.custom-quick-guide-button.btn-secondary:hover {
  background-color: #F47216;
  border-color: #F47216;
}

/* Style the tooltiptext span */
.custom-quick-guide-button .tooltiptext {
  /* Your custom tooltip styles here */
  color: #fff;
}

.btn-secondary {
  /* Override the default background color */
  background-color: #F47216; /* Original secondary color */
  
  /* Change to a custom blue */
  background-color: #007bff;
  
  /* Override the default border color */
  border-color: #6c757d; /* Original secondary border color */
  
  /* Change to a custom blue */
  border-color: #007bff;
}




/* Media query to target mobile devices */
@media (max-width: 767px) {
  .custom-button {
    font-size: 10px; /* Adjust the font size for mobile devices */
    margin: 0.5rem 0;
    width: 150px;
  }
}

.btn-clr {
  background-color: #FB7200;
}
.custom-icon {
  border:1px solid black;
  padding: 5px;
  border-radius: 10px;
  background: black;
  color: white;
}
.custom-icon:active {
  border:none
}
.close-btn:focus {
  outline: none;
}
